*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: #080808;
    color: #fff;
}

/*---------------------Header Section--------------------------*/

header{
    width: 100%;
    height: 20vh;
    background-image: url(../images/me.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

.head-container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav .logo{
    font-size: 2.6rem;
    color: #5d5a5a;
}

.logo span{
    color: #006eff;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #006eff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover:after{
    width: 100%;
}

/*---------------------Modules Section--------------------------*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-column-gap: 1.5em;
    grid-row-gap:2em;
    padding: 20px 0;
    width: 80%;
    margin: 0 auto;
}

.sub-title{
    grid-column: 1/13;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.modules{
    background-color: #262626;
    padding: 20px;
    border-radius: 10px;
    cursor: default;
    transition: background 0.5s, transform 0.5s;
}

.modules:hover{
    background-color: #006eff;
    transform: translateY(-10px);
}

#modules1{
    grid-column: 1/5;
}

#modules2{
    grid-column: 5/9;
}

#modules3{
    grid-column: 9/13;
}

#modules4{
    grid-column: 1/5;
}

#modules5{
    grid-column: 5/9;
}

#modules6{
    grid-column: 9/13;
}
.paragraph{
    margin-top: 30px;
}

.modules i{
    font-size: 50px;
    margin-bottom: 30px;
}

/*---------------------Footer Section--------------------------*/

footer{
    background-color: #262626;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

/*-----------------css for tablet screens---------------------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 820px){
    .header-text{
        margin-top: 100%;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #203e65;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .grid-container{
        grid-template-columns: repeat(6, auto);
    }
    .sub-title{
        grid-column: 1/7;
    }
    #modules1{
        grid-column: 1/4;
    }
    
    #modules2{
        grid-column: 4/7;
    }
    
    #modules3{
        grid-column: 1/7;
    }
    
    #modules4{
        grid-column: 1/4;
    }
    
    #modules5{
        grid-column: 4/7;
    }
    
    #modules6{
        grid-column: 1/7;
    }
    
}

/*---------------------css mobile screen--------------------------*/

@media only screen and (max-width: 600px){

    .header-text{
        margin-top: 100%;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #203e65;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .grid-container{
        display: block;
        padding: 20px 0;
        width: 90%;
        margin: 0 auto;
    }
    .modules{
        margin-top: 2rem;
    }
}